# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/
.bundle/

# Local Netlify folder
.netlify

# Ruby
Gemfile.lock

# OS Files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Editor files
*.swp
*~
.vscode/
.idea/ 